@model OnlineShop.Core.DTOs.Users.ChangePasswordViewModel

@{
    ViewData["Title"] = "تغییر کلمه عبور";
}

<!-- content -->
<section class="py-5 bg-light">
    <div class="container">
        <div class="row">
            <partial name="_SideBar" />
            <main class="col-lg-9 col-xl-9">
                <div class="card p-4 mb-0 shadow-0 border shadow">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a class="text-decoration-none text-success" href="/">خانه</a></li>
                            <li class="breadcrumb-item"><a class="text-decoration-none text-success" asp-action="Index" asp-controller="Home" asp-area="UserPanel">پروفایل</a></li>
                            <li class="breadcrumb-item active" aria-current="page">تغییر کلمه عبور</li>
                        </ol>
                    </nav>
                    <div class="content-body">
                        <h4>تغییر کلمه عبور</h4>

                        @if (ViewBag.Success != null)
                        {
                            <div class="d-grid flex-row align-items-center mb-3">
                                <div class="alert alert-success" role="alert">
                                    <h4 class="alert-heading">
                                        <i class="bi bi-check2-circle icon-larger-1 me-2"></i> ویرایش موفق
                                    </h4>
                                    <p>کلمه عبور شما با موفقیت تغییر کرد.</p>
                                    <hr>
                                    <p class="mb-0">جهت استفاده از سایت لطفا مجددا وارد شوید.</p>
                                    <p class="mb-0">شما به صورت خودکار به صفحه ورود هدایت میشوید.</p>
                                </div>
                            </div>

                            <script>
                                var delay = 2000;
                                setTimeout(function () { window.location = "https://localhost:44359/Login?EditProfile=true"; }, delay);
                            </script>
                        }

                        <hr class="my-4" />

                        <form asp-action="ChangePassword" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="container-xl px-4 mt-4">
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-xl-8 order-2 order-lg-1">
                                        <!-- Account details card-->
                                        <div class="card mb-4">
                                            <div class="card-header">اطلاعات حساب</div>
                                            <div class="card-body">
                                                <!-- Form Group (Old Password)-->
                                                <div class="mb-3">
                                                    <label class="small mb-1 control-label" asp-for="OldPassword"></label>
                                                    <input class="form-control" asp-for="OldPassword" type="password">
                                                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                                                </div>
                                                <!-- Form Group (New Password)-->
                                                <div class="mb-3">
                                                    <label class="small mb-1 control-label" asp-for="Password"></label>
                                                    <input class="form-control" asp-for="Password" type="password">
                                                    <span asp-validation-for="Password" class="text-danger"></span>
                                                </div>
                                                <!-- Form Group (Repeat Password)-->
                                                <div class="mb-3">
                                                    <label class="small mb-1 control-label" asp-for="RePassword"></label>
                                                    <input class="form-control" asp-for="RePassword" type="password">
                                                    <span asp-validation-for="RePassword" class="text-danger"></span>
                                                </div>
                                                <!-- Save changes button-->
                                                <button class="btn btn-info" type="submit"><i class="bi bi-save me-2"></i>ذخیره تغییرات</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 order-1 order-lg-2">
                                        <div class="d-flex mb-2">
                                            <img src="~/images/Local/Register.png" class="img-fluid" alt="Change Password image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </main>
        </div>

    </div>
</section>
<!-- content -->
