@{
    ViewData["Title"] = "خانه";
}

@section Banner {
    <div class="text-white py-5 bg-image rounded object-fit-cover header">
        <div class="container py-5">
            <h1>
                وبسایت <span class="h1 text-warning">دانشور</span> <br />
                با ما سریعتر پیشرفت کنید
            </h1>
            <p>
                آموزش های به روز ، بهترین قیمت ، پشتیبانی 24 ساعته
            </p>
            <a class="btn btn-outline-warning">
                بیشتر بخوانید
            </a>
            <a class="btn btn-outline-light">
                همین حالا شروع کنید
            </a>
        </div>
    </div>
}

<!-- Products -->
<section>
    <div class="container my-5">
        <header class="row mb-4">
            <h3 class="text-warning">آخرین دوره ها</h3>
            <small class="text-muted">تدریس شده توسط برترین اساتید کامپیوتر ایران</small>
        </header>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
                <div class="card w-100 my-2 shadow-2-strong">
                    <img src="./images/Local/product.jpg" class="card-img-top" style="aspect-ratio: 1 / 1" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">GoPro HERO6 4K Action Camera - Black <br /><span class="badge bg-danger">جدید</span></h5>
                        <p class="card-text">$790.50</p>
                        <div class="card-footer bg-white d-flex align-items-end justify-content-around pt-3 px-5 pb-0 mt-auto">
                            <a href="#!" class="btn btn-success align-items-center me-0"><i class="bi bi-cart4 px-1"></i></a>
                            <a href="#!" class="btn btn-danger align-items-center me-0"><i class="bi bi-heart px-1"></i></a>
                            <a href="#!" class="btn btn-warning align-items-center"><i class="bi bi-bell px-1"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
                <div class="card w-100 my-2 shadow-2-strong">
                    <img src="./images/Local/product.jpg" class="card-img-top" style="aspect-ratio: 1 / 1" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Canon camera 20x zoom, Black color EOS 2000</h5>
                        <p class="card-text">$320.00</p>
                        <div class="card-footer bg-white d-flex align-items-end justify-content-around pt-3 px-5 pb-0 mt-auto">
                            <a href="#!" class="btn btn-success align-items-center me-0"><i class="bi bi-cart4 px-1"></i></a>
                            <a href="#!" class="btn btn-danger align-items-center me-0"><i class="bi bi-heart px-1"></i></a>
                            <a href="#!" class="btn btn-warning align-items-center"><i class="bi bi-bell px-1"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
                <div class="card w-100 my-2 shadow-2-strong">
                    <img src="./images/Local/product.jpg" class="card-img-top" style="aspect-ratio: 1 / 1" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Xiaomi Redmi 8 Original Global Version 4GB  <br /><span class="badge bg-danger">جدید</span></h5>
                        <p class="card-text">$120.00</p>
                        <div class="card-footer bg-white d-flex align-items-end justify-content-around pt-3 px-5 pb-0 mt-auto">
                            <a href="#!" class="btn btn-success align-items-center me-0"><i class="bi bi-cart4 px-1"></i></a>
                            <a href="#!" class="btn btn-danger align-items-center me-0"><i class="bi bi-heart px-1"></i></a>
                            <a href="#!" class="btn btn-warning align-items-center"><i class="bi bi-bell px-1"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
                <div class="card w-100 my-2 shadow-2-strong">
                    <img src="./images/Local/product.jpg" class="card-img-top" style="aspect-ratio: 1 / 1" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Apple iPhone 12 Pro 6.1" RAM 6GB 512GB Unlocked</h5>
                        <p class="card-text">$120.00</p>
                        <div class="card-footer bg-white d-flex align-items-end justify-content-around pt-3 px-5 pb-0 mt-auto">
                            <a href="#!" class="btn btn-success align-items-center me-0"><i class="bi bi-cart4 px-1"></i></a>
                            <a href="#!" class="btn btn-danger align-items-center me-0"><i class="bi bi-heart px-1"></i></a>
                            <a href="#!" class="btn btn-warning align-items-center"><i class="bi bi-bell px-1"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
                <div class="card w-100 my-2 shadow-2-strong">
                    <img src="./images/Local/product.jpg" class="card-img-top" style="aspect-ratio: 1 / 1" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Apple Watch Series 1 Sport Case 38mm Black</h5>
                        <p class="card-text">$790.50</p>
                        <div class="card-footer bg-white d-flex align-items-end justify-content-around pt-3 px-5 pb-0 mt-auto">
                            <a href="#!" class="btn btn-success align-items-center me-0"><i class="bi bi-cart4 px-1"></i></a>
                            <a href="#!" class="btn btn-danger align-items-center me-0"><i class="bi bi-heart px-1"></i></a>
                            <a href="#!" class="btn btn-warning align-items-center"><i class="bi bi-bell px-1"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
                <div class="card w-100 my-2 shadow-2-strong">
                    <img src="./images/Local/product.jpg" class="card-img-top" style="aspect-ratio: 1 / 1" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">T-shirts with multiple colors, for men and lady</h5>
                        <p class="card-text">$120.00</p>
                        <div class="card-footer bg-white d-flex align-items-end justify-content-around pt-3 px-5 pb-0 mt-auto">
                            <a href="#!" class="btn btn-success align-items-center me-0"><i class="bi bi-cart4 px-1"></i></a>
                            <a href="#!" class="btn btn-danger align-items-center me-0"><i class="bi bi-heart px-1"></i></a>
                            <a href="#!" class="btn btn-warning align-items-center"><i class="bi bi-bell px-1"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
                <div class="card w-100 my-2 shadow-2-strong">
                    <img src="./images/Local/product.jpg" class="card-img-top" style="aspect-ratio: 1 / 1" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Gaming Headset 32db Blackbuilt in mic</h5>
                        <p class="card-text">$99.50</p>
                        <div class="card-footer bg-white d-flex align-items-end justify-content-around pt-3 px-5 pb-0 mt-auto">
                            <a href="#!" class="btn btn-success align-items-center me-0"><i class="bi bi-cart4 px-1"></i></a>
                            <a href="#!" class="btn btn-danger align-items-center me-0"><i class="bi bi-heart px-1"></i></a>
                            <a href="#!" class="btn btn-warning align-items-center"><i class="bi bi-bell px-1"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
                <div class="card w-100 my-2 shadow-2-strong">
                    <img src="./images/Local/product.jpg" class="card-img-top" style="aspect-ratio: 1 / 1" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">T-shirts with multiple colors, for men and lady  <br /><span class="badge bg-danger">جدید</span></h5>
                        <p class="card-text">$120.00</p>
                        <div class="card-footer bg-white d-flex align-items-end justify-content-around pt-3 px-5 pb-0 mt-auto">
                            <a href="#!" class="btn btn-success align-items-center me-0"><i class="bi bi-cart4 px-1"></i></a>
                            <a href="#!" class="btn btn-danger align-items-center me-0"><i class="bi bi-heart px-1"></i></a>
                            <a href="#!" class="btn btn-warning align-items-center"><i class="bi bi-bell px-1"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Products -->
<!-- Blog -->
<section class="mt-5 mb-4">
    <div class="container text-warning">
        <header class="mb-4">
            <h3>آخرین مقاله ها</h3>
        </header>

        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <article>
                    <a href="#" class="img-fluid">
                        <img class="rounded w-100" src="./images/Local/product.jpg" style="object-fit: cover;" height="160" />
                    </a>
                    <div class="mt-2 text-muted small d-block mb-1">
                        <span>
                            <i class="fa fa-calendar-alt fa-sm"></i>
                            23.12.2022
                        </span>
                        <a href="#"><h6 class="text-dark">How to promote brands</h6></a>
                        <p>When you enter into any new area of science, you almost reach</p>
                    </div>
                </article>
            </div>
            <!-- col.// -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <article>
                    <a href="#" class="img-fluid">
                        <img class="rounded w-100" src="./images/Local/product.jpg" style="object-fit: cover;" height="160" />
                    </a>
                    <div class="mt-2 text-muted small d-block mb-1">
                        <span>
                            <i class="fa fa-calendar-alt fa-sm"></i>
                            13.12.2022
                        </span>
                        <a href="#"><h6 class="text-dark">How we handle shipping</h6></a>
                        <p>When you enter into any new area of science, you almost reach</p>
                    </div>
                </article>
            </div>
            <!-- col.// -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <article>
                    <a href="#" class="img-fluid">
                        <img class="rounded w-100" src="./images/Local/product.jpg" style="object-fit: cover;" height="160" />
                    </a>
                    <div class="mt-2 text-muted small d-block mb-1">
                        <span>
                            <i class="fa fa-calendar-alt fa-sm"></i>
                            25.11.2022
                        </span>
                        <a href="#"><h6 class="text-dark">How to promote brands</h6></a>
                        <p>When you enter into any new area of science, you almost reach</p>
                    </div>
                </article>
            </div>
            <!-- col.// -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <article>
                    <a href="#" class="img-fluid">
                        <img class="rounded w-100" src="./images/Local/product.jpg" style="object-fit: cover;" height="160" />
                    </a>
                    <div class="mt-2 text-muted small d-block mb-1">
                        <span>
                            <i class="fa fa-calendar-alt fa-sm"></i>
                            03.09.2022
                        </span>
                        <a href="#"><h6 class="text-dark">Success story of sellers</h6></a>
                        <p>When you enter into any new area of science, you almost reach</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<!-- Blog -->