<div class="col-lg-3 col-xl-3">
    <nav class="card p-4 shadow-0 border shadow nav flex-lg-column w-100 d-grid mb-4">
        <a class="nav-link my-0 text-dark border-bottom border-warning" asp-action="Index" asp-controller="Home" asp-area="UserPanel"><p class="pb-0 mb-0"><i class="bi bi-person-lines-fill me-2"></i>میز کار</p></a>
        <a class="nav-link my-0 text-dark border-bottom border-warning" asp-action="EditProfile" asp-controller="Home" asp-area="UserPanel"><p class="pb-0 mb-0"><i class="bi bi-pencil-square me-2"></i>ویرایش حساب</p></a>
        <a class="nav-link my-0 text-dark border-bottom border-warning" asp-action="ChangePassword" asp-controller="Home" asp-area="UserPanel"><p class="pb-0 mb-0"><i class="bi bi-key me-2"></i>تغییر کلمه عبور</p></a>
        <a class="nav-link my-0 text-dark border-bottom border-warning" asp-action="Index" asp-controller="Wallet" asp-area="UserPanel"><p class="pb-0 mb-0"><i class="bi bi-wallet me-2"></i>کیف پول</p></a>
        <a class="nav-link my-0 text-dark border-bottom border-warning" href="#"><p class="pb-0 mb-0">لیست علاقه مندی ها</p></a>
        <a class="nav-link my-0 text-dark border-bottom border-warning" href="#"><p class="pb-0 mb-0">تراکنش ها</p></a>
        <a class="nav-link my-0 text-dark border-bottom border-warning" href="#"><p class="pb-0 mb-0">تنظیمات حساب</p></a>
        <a class="nav-link my-0 text-dark" asp-action="Logout" asp-controller="Account"><p class="pb-0 mb-0"><i class="bi bi-box-arrow-right me-2"></i>خروج</p></a>
    </nav>
</div>