<!DOCTYPE html>
<html dir="rtl" lang="fa">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>پنل مدیریت دانشور | @ViewData["Title"]</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/AdminContent/src/assets/img/favicon.png" rel="icon">
    <link href="/AdminContent/src/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <partial name="_AdminStyles" />
</head>

<body>

    <partial name="_AdminPanelHeader" />
    <partial name="_AdminPanelSideBar" />

    <main id="main" class="main">
        <!-- ======= Main ======= -->
        @RenderBody()
        <!-- End Main -->
    </main><!-- End #main -->
    
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="copyright">
            تمامی حقوق متعلق به <strong><span>دانشور</span></strong> می باشد&copy;
        </div>
        <div class="credits">
            طراحی شده توسط <a href="#">دانشور</a>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="/AdminContent/src/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="/AdminContent/src/assets/vendor/chart.js/chart.umd.js"></script>
    <script src="/AdminContent/src/assets/vendor/echarts/echarts.min.js"></script>
    <script src="/AdminContent/src/assets/vendor/quill/quill.min.js"></script>
    <script src="/AdminContent/src/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="/AdminContent/src/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="/AdminContent/src/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/AdminContent/src/assets/js/main.js"></script>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/AdminContent/DataTables/js/jquery.dataTables.min.js"></script>
    <script src="/Admincontent/datatables/js/datatables.bootstrap5.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>