<footer class="text-center text-lg-start mt-3 bg-dark">
    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start pt-4 pb-4">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-12 col-lg-3 col-sm-12 mb-3 align-content-center">
                    <div>
                        <a href="https://ahm-id.github.io" target="_blank">
                            <img src="/images/Local/Footer-Logo.png" class="img-fluid" style="height: 175px; width: 150px;" />
                        </a>
                    </div>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-6 col-sm-4 col-lg-2">
                    <!-- Links -->
                    <h6 class="text-uppercase text-white fw-bold mb-2">
                        فروشگاه
                    </h6>
                    <ul class="list-unstyled mb-4">
                        <li class="navigation-link mb-2"><a class="text-muted text-decoration-none" href="#">درباره ما</a></li>
                        <li class="navigation-link mb-2"><a class="text-muted text-decoration-none" href="#">یافتن فروشگاه</a></li>
                        <li class="navigation-link mb-2"><a class="text-muted text-decoration-none" href="#">دسته بندی ها</a></li>
                        <li class="navigation-link mb-2"><a class="text-muted text-decoration-none" href="#">مجلات</a></li>
                    </ul>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-6 col-sm-4 col-lg-2">
                    <!-- Links -->
                    <h6 class="text-uppercase text-white fw-bold mb-2">
                        اطلاعات
                    </h6>
                    <ul class="list-unstyled mb-4">
                        <li class="navigation-link mb-2"><a class="text-muted text-decoration-none" href="#">بازگشت وجه</a></li>
                        <li class="navigation-link mb-2"><a class="text-muted text-decoration-none" href="#">اطلاعات خرید</a></li>
                    </ul>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-6 col-sm-4 col-lg-2">
                    <!-- Links -->
                    <h6 class="text-uppercase text-white fw-bold mb-2">
                        پشتیبانی
                    </h6>
                    <ul class="list-unstyled mb-4">
                        <li class="navigation-link mb-2"><a class="text-muted text-decoration-none" href="#">مرکز خدمات</a></li>
                        <li class="navigation-link mb-2"><a class="text-muted text-decoration-none" href="#">مستندات</a></li>
                        <li class="navigation-link mb-2"><a class="text-muted text-decoration-none" href="#">بازیابی حساب</a></li>
                        <li class="navigation-link mb-2"><a class="text-muted text-decoration-none" href="#">سفارشات من</a></li>
                    </ul>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-12 col-sm-12 col-lg-3">
                    <!-- Links -->
                    <h6 class="text-uppercase text-white fw-bold mb-2">روزنامه</h6>
                    <p class="text-muted text-decoration-none">در تماس باشید تا از آخرین تخفیفات و اخبار مطلع باشید</p>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control bg-transparent border border-warning" placeholder="پست الکترونیک" aria-label="Email" aria-describedby="button-addon2" style="border-radius: 0 0.7rem 0.7rem 0;"/>
                        <button class="btn btn-outline-warning shadow-0" type="button" id="button-addon2" data-mdb-ripple-color="dark" style="border-radius: 0.7rem 0 0 0.7rem;">
                            عضویت
                        </button>
                    </div>
                </div>
                <!-- Grid column -->
                <div class="d-flex mt-5 text-white justify-content-center">
                    <p class="text-wrap">
                        تمامی حقوق مادی و معنوی وبسایت دانشور متعلق به <a href="https://ahm-id.github.io" target="_blank" class="text-decoration-none"><span class="text-warning">© A.H.M</span></a> می باشد.
                    </p>
                </div>
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->
</footer>
